.wrapper {
    min-height: 100%;
    overflow: hidden;
    background-image: url(images/Rectangle.png);
}

body {
    margin: 0;
     padding: 0;
    /*font-family: 'Raleway', sans-serif; */
}

/*Header*/
.section-header {
    display: flex;
}

.section-header-logo {
    font-family: 'Playfair Display', serif;
}

.big-logo {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    max-height: 20px;
}

.small-logo {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}

.inner {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
} 

.with-diff {
    justify-content: start;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.move-element {
    padding-left: 45px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-family: 'Raleway', sans-serif;
}
/*Header*/


.section-promo {
    color: #FFFFFF;
}

.section-promo-text {
    color: #D4C17F;
    text-align: center;
    font-size: 48px;
    margin-top: 200px;
}

.section-promo-img {
    color: #D4C17F;
    text-align: center;
    margin-top: 100px;
}

.section-promo-data {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    font-size: 18px;
}

.promo-locate {
    padding-left: 650px;
}

.promo-contacts {
    padding-right: 705px;
}

#section-domin {
    margin-top: 100px;
    background-color: #242B33;
}

.domin-center {
    color: #D4C17F;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    width: min(670px, 60%);
    text-align: center;
    margin-left: 600px;
    font-size: 20px;
}

#flats {
    background-color: #242B33;
}

.flats-name {
    color: #D4C17F;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    padding-right: 815px;
    text-align: center;
    padding-top: 100px;
}

.main-flats {
    display: flex;
    justify-content: center;
}

.flats-images-1 {
    margin-top: 80px;
    margin-right: 12px;
}

.flats-images-2 {
    margin-top: 80px;
    margin-left: 12px;
}

.flats-image-first {
    position: relative;
}

.flats-image-second {
    margin-top: 12px;
    position: relative;
}

.flats-image-third {
    position: relative;
}

.flats-image-fourth {
    margin-top: 12px;
    position: relative;
}

.flats-loft {
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 45px;
    text-decoration: none;
    padding-top: 250px;
}

#Additional-block {
    background-image: url(images/InterThings.png);
}

.main-add-block {
    padding-top: 100px;
}

.Additional-block-name {
    margin-left: 65px;
}

.Additional-block-content {
    color: #FFFFFF;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    max-width: 535px;
    margin-left: 400px;
}

.Additional-block-custom {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.Additional-block-card {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    display: flex;
    margin-right: 398px;
    width: 535px;
}

.Additional-block-card-first {
    width: 50%;
}

.add-statement {
    width: 255px;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
}

.add-statement-custom {
    font-size: 13px;
    position: absolute;
    top: -20px;
}

.add-name {
    background-color: #BEBEBE;
    color: #FFFFFF;
    opacity: 50%;
    text-align: center;
    width: 251px;
    height: 50px;
    margin-bottom: 20px;
}

.add-contacts {
    background-color: #BEBEBE;
    color: #FFFFFF;
    opacity: 50%;
    text-align: center;
    width: 251px;
    height: 50px;
    margin-bottom: 20px;
}

.add-neighborhood {
    background-color: #D4C17F;
    text-align: center;
    width: 252px;
    height: 50px;
}

.add-text {
    padding-top: 17px;
    color: #FFFFFF;
}

.add-text-lower {
    padding-top: 17px;
}

.section-video {
    background-color: #242B33;
}

.move-video {
    padding-top: 150px;
}

.video-block {
    width: 800px;
    height: 800px;
    position: relative;
    margin-left: 530px;
}

.main-block-ico {
    position: relative;
    padding-top: 75px;
    padding-left: 40px;
}

.video-el-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
}

#last {
    background-color: #242B33;
    min-height: 1160px;
}

.name-with-dif {
    margin-right: 25px;
}

.last-place {
    position: relative;
    width: 800px;
    height: 600px;
    margin-left: 21%;
}

.place-ico {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
}

.last-card {
    display: flex;
    justify-content: space-between;
    width: calc(59% - 10px);
    margin-left: 21%;
    margin-top: 2%;
}

#footer {
    background-color: #2D343C;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

.footer-main {
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    width: calc(67% - 25px);
    margin-left: calc(17% + 6px);
    font-size: 14px;
    
}

.big-logo-twice {
    font-size: 28px;
    padding-top: 6%;
}

.small-logo-twice {
    font-size: 12px;
}

.move-footer {
    padding-top: 15px;
}

.links {
    color: #D4C17F;
    text-decoration: none;
}

/* .move-footer-images {
    justify-content: space-around;
} */

.img-move {
    padding-left: 30px;
}